@font-face{
  font-family: RobotoMono;
  src: url('/fonts/RobotoMonoRegular.otf');
}
@font-face{
  font-family: FuturaBold;
  src: url('/fonts/FuturaBold.otf');
}
@font-face{
  font-family: Futura;
  src: url('/fonts/futuraMedium-bt.otf');
}
@font-face {
  font-family: AmpleSoft;
  src: url('/fonts/AmpleSoft.OTF');
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url('/fonts/Poppins-SemiBold.otf');
}